.Rproj.user
.Rhistory
.RData
.Ruserdata
workingDir.r
Term_MVA_PEREZ_OLVERA.html
Term_MVA_PEREZ_OLVERA.knit.md
Term_MVA_PEREZ_OLVERA.utf8.md
Term_MVA_PEREZ_OLVERA_cache
Term_MVA_PEREZ_OLVERA_files
tex2pdf.5900
Term_MVA_PEREZ_OLVERA.docx
